RewriteEngine On
RewriteCond %{HTTP_HOST} ^wipunen\.com$
RewriteRule ^(.*)$ http://asia.wipunen.fi/$1 [L,QSA,R=301]


# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
