body {
    background: #000;
}

.text {
    color: #5dea62;
    font-family: Monaco, monospace;
    font-size: calc(18px + 1.5vw);
    line-height: calc(1.1em + 0.5vw);
    width: 100%;
    text-align: left;
    animation: 120ms infinite normal glitch;
}
span {
    animation: 1.5s infinite normal cursor;
}
::-moz-selection {
    background: #7021d2;
    color: #fff;
}
::selection {
    background: #7021d2;
    color: #fff;
}
@keyframes glitch {
    0% {
        opacity: 0;
        left: 0;
  }
    20%, 80% {
        opacity: 1;
        left: -2px;
  }
}
@keyframes cursor {
    0% {
        opacity: 0;
        left: 0;
  }
    20% {
        opacity: 0;
        left: -2px;
  }
    80% {
        opacity: 1;
        left: -2px;
  }
}
.box {
    display:inline-block;
    position: absolute;
    top: calc(10em + 20vh);
    left: calc(2em + 10vw);
}
